save-prefix= # don't add ^ to deps by default when adding new deps
maxsockets=10 # 10 concurrent downloads
fetch-retries=100 # try 100 times to download a pkg
fetch-retry-mintimeout=1 # 1ms between retries minimum
fetch-retry-maxtimeout=10000 # 10s between retries maximum
fetch-retry-factor=2 # increase timeout by 2x each retry
