save-prefix= # don't add ^ to deps by default when adding new deps
maxsockets=10 # 10 concurrent downloads
fetch-retries=100 # try 100 times to download a pkg
fetch-retry-mintimeout=1 # 1ms between retries minimum
fetch-retry-maxtimeout=10000 # 10s between retries maximum
fetch-retry-factor=2 # increase timeout by 2x each retry
install-strategy=nested # if two deps have different versions of the same package, nest them rather than flattening them. E.g. if pkgA depends on pkgB@1.0.0 and pkgC depends on pkgB@2.0.0, then there's no shared pkgB version that satisfies both. With nested, pkgB@1.0.0 will be installed in pkgA's node_modules, and pkgB@2.0.0 will be installed in pkgC's node_modules, satisfying both deps.