/node_modules/
/src/
/tests/
/artifacts/
tsconfig.json
/node_modules/
/src/
/tests/
/artifacts/
tsconfig.*.json
tsconfig.tsbuildinfo
env.production
env.development
env.test
.env.*
*.ipynb
captchas_*.json
data.json
stl10/*.json
stl10
