services:
    database:
        image: mongo:5.0.4
        # volumes:
        #   - ./db:/data/db
        ports:
            - '27017:27017'
        network:
            - prosopo
        environment:
            - MONGO_INITDB_ROOT_USERNAME=root
            - MONGO_INITDB_ROOT_PASSWORD=root
            - MONGO_INITDB_DATABASE=prosopo
