version: '3.8'
services:
  provider:
    image: prosopo/provider:${PROVIDER_IMAGE_VERSION}
    build:
      context: ..
      dockerfile: ./docker/images/provider.dockerfile
    env_file:
      - ../.env.production
    ports:
      - "9229:9229"
    tty: true
    depends_on:
      - database
    networks:
      - internal
      - external

  database:
    image: mongo:5.0.4
    volumes:
      - /data/db:/data/db
    ports:
      - "27017:27017"
    env_file:
      - ../.env.production
    networks:
      - internal
  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./provider.Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - external
networks:
    internal:
        name: internal
        internal: true
    external:
        name: external
volumes:
    caddy_data:
    caddy_config:
