version: '3.8'
services:
  substrate:
    image: prosopo/substrate-contracts-node:v0.25
    ports:
      - "9615:9615"
      - "9944:9944"
      - "9933:9933"
      - "30333:30333"
    deploy:
      # replicas: 1
      resources:
        limits:
          cpus: '1'
          memory: 512M
  database:
    image: mongo:5.0.4
    # volumes:
    #   - ./db:/data/db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
      - MONGO_INITDB_DATABASE=prosopo
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '1'
          memory: 512M
