version: '3.4'
services:
    deploy-contract:
        image: paritytech/contracts-ci-linux:latest
        build:
            context: .
            dockerfile: ./contract.debug-deploy.dockerfile
            args:
                IMAGE: paritytech/contracts-ci-linux:latest
                ARCHITECTURE: x86_64
                CONTRACT_NAME: prosopo
                CONTRACT_PATH: protocol/contracts
                CONTRACT_ARGS: '5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY 1000000000000 1000000000000' # protocol
                SUBSTRATE_URL: 'ws://substrate:9944'
                SURI: //Alice
                ENDOWMENT: 2000000000000
                CONSTRUCTOR: default
        volumes:
            - ./contracts:/contracts
        links:
            - substrate
    substrate:
        image: prosopo/substrate:polkadot-v0.9.43
        ports:
            - '9615:9615'
            - '9944:9944'
            - '9933:9933'
        volumes:
            - ./chain-data:/chain-data
