# https://docs.docker.com/cloud/ecs-integration/
version: '3.8'
services:
    database:
        image: mongo:5.0.4
        # volumes:
        #   - ./db:/data/db
        ports:
            - '27017:27017'
        environment:
            - MONGO_INITDB_ROOT_USERNAME=root
            - MONGO_INITDB_ROOT_PASSWORD=root
            - MONGO_INITDB_DATABASE=prosopo
        logging:
            driver: 'json-file'
            options:
                max-size: '100m'
                max-file: '1'
