.modalOuter {
    overflow: auto;
    width: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2147483646;
    transition: all 0.5s;
}
.modalInner {
    max-width: 500px;
    margin: auto;
    position: fixed;
    background: white;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2147483647;
    transition: all 0.5s;
}
/* avoid the captcha modal from disappearing beneath the fold on smaller screens */
@media only screen and (max-height: 500px) {
    .modalInner {
        max-height: 90%;
    }
    .modalOuter {
        max-height: 90%;
    }
}
