[lib]
proc-macro = true

[package]
name = "disable_macro"
version = "0.3.38"
authors = [ "George Oastler <goastler4@gmail.com>" ]
edition = "2021"
description = "macro that disables all functions"

[dependencies]
quote = "1.0"
proc-macro2 = "1.0.51"

