name: bump_version

on:
    # run manually
    workflow_dispatch:
        inputs:
            version:
                type: string
                description: Version number (e.g. 1.2.3)
                required: true

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    bump_version:
        runs-on: ubuntu-latest
        steps:
            - name: Print github vars
              shell: bash
              run: |
                  echo "******************************"
                  echo "github context: ${{ toJson(github) }}"
                  echo "******************************"
                  echo "env context: ${{ toJson(env) }}"
                  echo "******************************"
                  echo "vars context: ${{ toJson(vars) }}"
                  echo "******************************"
                  echo "job context: ${{ toJson(job) }}"
                  echo "******************************"
                  echo "steps context: ${{ toJson(steps) }}"
                  echo "******************************"
                  echo "runner context: ${{ toJson(runner) }}"
                  echo "******************************"
                  echo "secrets context: ${{ toJson(secrets) }}"
                  echo "******************************"
                  echo "strategy context: ${{ toJson(strategy) }}"
                  echo "******************************"
                  echo "matrix context: ${{ toJson(matrix) }}"
                  echo "******************************"
                  echo "needs context: ${{ toJson(needs) }}"
                  echo "******************************"
                  echo "inputs context: ${{ toJson(inputs) }}"
                  echo "******************************"
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version-file: '.nvmrc'
            - name: Install npm
              run: npm i -g npm@$(cat package.json | jq -r .engines.npm)

            - run: mkdir -p protocol/cargo-cache
            - run: mkdir -p protocol/target
            - run: mkdir -p node_modules
            - run: mkdir -p ~/.cache/Cypress

            - name: Restore cache
              uses: actions/cache/restore@v3
              with:
                  path: |
                      protocol/cargo-cache
                      protocol/target
                      node_modules
                      ~/.cache/Cypress
                  # note that restoring a cache in github is a pain. The trailing '-' matches any string after the '-', therefore 'abc-' would match a cache named 'abc-1234' or 'abc-5678', etc.
                  # the problem is 'abc-' will not match a cache named 'abc'! So if you're using wildcard cache name selectors like this, you need a field that changes as the suffix to become the wildcard
                  # here we're setting the key to an unused cache key so it falls back to the wildcard selector in `restore-keys`
                  key: some-unused-cache-key
                  restore-keys: |
                      project-cache-${{ runner.os }}-${{ runner.arch }}-

            - run: ls -la ~/.cache/Cypress || true
            - run: ls -la protocol/cargo-cache || true
            - run: ls -la protocol/target/ink || true
            - run: ls -la node_modules || true

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: |
                  npm run build -w @prosopo/scripts
                  npm run build -w @prosopo/protocol-dev

            - name: Bump version
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  # make a new branch for the version changes
                  git switch -c bump-version-${{ github.event.inputs.version }}

                  # make the version changes
                  npm run version ${{ github.event.inputs.version }}

                  # rebuild typechain
                  npm run build:typechain

                  # set the author in git
                  git config user.name "prosoponator[bot]"
                  git config user.email "dev@prosopo.io"

                  # commit the version changes
                  git add .
                  git commit -m "Bump version to ${{ github.event.inputs.version }}"

                  # push version changes
                  git push --set-upstream origin bump-version-${{ github.event.inputs.version }}

                  # create a PR for the release
                  ID=$(gh pr create --base main --title "Release ${{ github.event.inputs.version }}" --fill 2>&1 | grep http | xargs -n1 basename)

                  # enable auto-merge via squash merge
                  gh pr merge $ID --auto --squash
