name: check_version

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      bump:
        description: "Whether the version should be bumped"
        value: ${{ jobs.example_job.outputs.bump }}
      current_version:
        description: "The current version"
        value: ${{ jobs.example_job.outputs.current_version }}
      next_version:
        description: "The next version"
        value: ${{ jobs.example_job.outputs.next_version }}

jobs:
  check_version:
    name: Check version
    runs-on: ubuntu-latest
    # Map the job outputs to step outputs
    outputs:
      bump: ${{ steps.step1.outputs.bump }}
      current_version: ${{ steps.step1.outputs.current_version }}
      next_version: ${{ steps.step1.outputs.next_version }}
    steps:
      # Get the provider image version from the root package.json and the latest package version from npm
      - name: Check provider version bump
        run: |
            # get the next provider version number from the package.json
            NEXT=$(cat package.json | jq -r '.version')
            # get the current provider version number from npm
            CURRENT=$(npm view @prosopo/provider version)
            NEXT_MAJOR=$(echo $NEXT | cut -d '.' -f 1)
            NEXT_MINOR=$(echo $NEXT | cut -d '.' -f 2)
            NEXT_PATCH=$(echo $NEXT | cut -d '.' -f 3)
            CURRENT_MAJOR=$(echo $CURRENT | cut -d '.' -f 1)
            CURRENT_MINOR=$(echo $CURRENT | cut -d '.' -f 2)
            CURRENT_PATCH=$(echo $CURRENT | cut -d '.' -f 3)
            # compare major versions for bump
            if [[ $NEXT_MAJOR -gt $CURRENT_MAJOR ]]; then
              echo "major version bump detected"
              echo "BUMP=true" >> $GITHUB_OUTPUT
            elif [[ $NEXT_MINOR -gt $CURRENT_MINOR ]]; then
              echo "minor version bump detected"
              echo "BUMP=true" >> $GITHUB_OUTPUT
            elif [[ $NEXT_PATCH -gt $CURRENT_PATCH ]]; then
              echo "patch version bump detected"
              echo "BUMP=true" >> $GITHUB_OUTPUT
            else
              echo "no version bump detected"
              echo "BUMP=false" >> $GITHUB_OUTPUT
            fi
            echo "CURRENT_VERSION=$CURRENT" >> $GITHUB_OUTPUT
            echo "NEXT_VERSION=$NEXT" >> $GITHUB_OUTPUT