name: dockerhub_publish

on:
    push:
        branches:
            - 'main'
        paths:
            - 'package.json'
            - '.github/workflows/dockerhub_publish.yml'
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    check_version:
        uses: prosopo/captcha/.github/workflows/check_version.yml@main
    build:
        needs: check_version
        runs-on: ubuntu-latest
        steps:
            # Checkout the repo
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: Install npm
              run: npm i -g npm@$(cat package.json | jq -r .engines.npm)

            - run: mkdir -p protocol/cargo-cache
            - run: mkdir -p protocol/target
            - run: mkdir -p node_modules
            - run: mkdir -p ~/.cache/Cypress

            - name: Restore cache
              uses: actions/cache/restore@v3
              with:
                  path: |
                      protocol/cargo-cache
                      protocol/target
                      node_modules
                      ~/.cache/Cypress
                  # note that restoring a cache in github is a pain. The trailing '-' matches any string after the '-', therefore 'abc-' would match a cache named 'abc-1234' or 'abc-5678', etc.
                  # the problem is 'abc-' will not match a cache named 'abc'! So if you're using wildcard cache name selectors like this, you need a field that changes as the suffix to become the wildcard
                  # here we're setting the key to an unused cache key so it falls back to the wildcard selector in `restore-keys`
                  key: some-unused-cache-key
                  restore-keys: |
                      project-cache-${{ runner.os }}-${{ runner.arch }}-

            - name: Install dependencies and build packages
              # Install dependencies and build packages if either provider or JS bundle needs to be published
              if: >-
                  needs.check_version.outputs.bump == 'true'
              run: |
                  set -e  # Exit immediately if a command exits with a non-zero status.
                  echo "Installing dependencies..."
                  npm ci
                  echo "Building packages..."
                  npm run build:all
                  npm run build:all:cjs

            - name: Log in to Docker Hub
              # Only log in if either provider or JS bundle needs to be published
              if: >-
                  needs.check_version.outputs.bump == 'true'
              run: |
                  echo "Logging into Docker Hub."
                  echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin 2> /dev/null

            - name: Build JS bundle and publish to Docker Hub
              if: needs.check_version.outputs.bump == 'true'
              run: |
                  set -x  # Print commands and their arguments as they are executed.

                  # Copy the rococo env file to production env file
                  echo "Copying the rococo env to production env file in procaptcha-bundle"
                  cp ./dev/scripts/env.rococo ./packages/procaptcha-bundle/.env.production

                  # Navigate to the JS bundle directory and build
                  echo "Navigating to 'packages/procaptcha-bundle' and building JS bundle..."
                  cd packages/procaptcha-bundle

                  NODE_ENV=production npm run bundle:prod

                  # Pull the latest Docker image
                  docker pull prosopo/js_server:${{needs.check_version.outputs.current_version}}

                  # Create a temporary container from the latest image
                  echo "Building Docker image..."
                  CONTAINER_ID=$(docker create prosopo/js_server:${{needs.check_version.outputs.current_version}})

                  # Copy the bundle to the container and rename it to include the version
                  docker cp ./dist/bundle/procaptcha.bundle.js $CONTAINER_ID:/usr/share/nginx/html/js/procaptcha.bundle.${{ needs.check_version.outputs.next_version }}.js

                  # Copy the bundle to the container as the latest version, overwriting the existing bundle if one exists
                  docker cp ./dist/bundle/procaptcha.bundle.js $CONTAINER_ID:/usr/share/nginx/html/js/procaptcha.bundle.js
                  
                  # Commit the changes to the container
                  docker commit $CONTAINER_ID prosopo/js_server:${{needs.check_version.outputs.next_version}}

                  # Push the new image to Docker Hub
                  echo "Pushing Docker image..."
                  docker push prosopo/js_server:${{needs.check_version.outputs.next_version}}

            - name: Build and Push the Provider Bundle
              # Build and push the provider bundle to Docker Hub if bump is true
              if: needs.check_version.outputs.bump == 'true'
              run: |
                  # Copy the rococo env file to production env file
                  echo "Copying the rococo env to production env file in cli package"
                  cp ./dev/scripts/env.rococo ./packages/cli/.env.production

                  # Navigate to the provider CLI directory and build
                  echo "Navigating to 'packages/cli' and bundling..."
                  cd packages/cli
                  NODE_ENV=production npm run bundle:prod

                  # Navigate back to the project root
                  echo "Navigating back to project root..."
                  cd ../..

                  # Build and push the Docker image
                  echo "Building Docker image..."
                  docker build --file ./docker/images/provider.dockerfile . -t prosopo/provider:${{needs.check_version.outputs.next_version}}
                  echo "Pushing Docker image..."
                  docker push prosopo/provider:${{needs.check_version.outputs.next_version}}
