# Send an event to other repos on push to main

name: event_push

on:
    push:
        branches: [main, staging, dev, release/*]
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

env:
    GITHUB_TOKEN: ${{ secrets.PROSOPONATOR_PAT }}
    GH_TOKEN: ${{ secrets.PROSOPONATOR_PAT }}
    CARGO_TERM_COLOR: always
    NODE_OPTIONS: "--max-old-space-size=4096"

defaults:
    run:
        shell: bash

jobs:
    event:
        runs-on: ubuntu-latest
        steps:
            - name: Print contexts
              uses: ./.github/actions/print_contexts@${{ github.ref_name }}

            - name: Send event
              run: |
                  curl -X POST \
                  -H "Authorization: token $GITHUB_TOKEN" \
                  -H "Accept: application/vnd.github.everest-preview+json" \
                  -d '{"event_type": "capctha_push", "client_payload": { \
                    "branch": "${{ github.ref_name }}" \
                    "commit": "${{ github.sha }}"
                  }}' \
                  https://api.github.com/repos/prosopo/captcha-private/dispatches
