name: ls_cache

on:
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

env:
    CARGO_TERM_COLOR: always
    GH_TOKEN: ${{ github.token }}

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Print github vars
              shell: bash
              run: |
                  echo '******************************'
                  echo "github context:" "${{ toJson(github) }}"
                  echo '******************************'
                  echo "env context:" "${{ toJson(env) }}"
                  echo '******************************'
                  echo "vars context:" "${{ toJson(vars) }}"
                  echo '******************************'
                  echo "job context:" "${{ toJson(job) }}"
                  echo '******************************'
                  echo "steps context:" "${{ toJson(steps) }}"
                  echo '******************************'
                  echo "runner context:" "${{ toJson(runner) }}"
                  echo '******************************'
                  echo "secrets context:" "${{ toJson(secrets) }}"
                  echo '******************************'
                  echo "strategy context:" "${{ toJson(strategy) }}"
                  echo '******************************'
                  echo "matrix context:" "${{ toJson(matrix) }}"
                  echo '******************************'
                  echo "needs context:" "${{ toJson(needs) }}"
                  echo '******************************'
                  echo "inputs context:" "${{ toJson(inputs) }}"
                  echo '******************************'
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version-file: '.nvmrc'
            - name: Install npm
              run: npm i -g npm@$(cat package.json | jq -r .engines.npm)

            - run: mkdir -p protocol/cargo-cache
            - run: mkdir -p protocol/target
            - run: mkdir -p node_modules
            - run: mkdir -p ~/.cache/Cypress

            - name: Restore cache
              uses: actions/cache/restore@v3
              with:
                  path: |
                      protocol/cargo-cache
                      protocol/target
                      node_modules
                      ~/.cache/Cypress
                  # note that restoring a cache in github is a pain. The trailing '-' matches any string after the '-', therefore 'abc-' would match a cache named 'abc-1234' or 'abc-5678', etc.
                  # the problem is 'abc-' will not match a cache named 'abc'! So if you're using wildcard cache name selectors like this, you need a field that changes as the suffix to become the wildcard
                  # here we're setting the key to an unused cache key so it falls back to the wildcard selector in `restore-keys`
                  key: some-unused-cache-key
                  restore-keys: |
                      project-cache-${{ runner.os }}-${{ runner.arch }}-

            - run: ls -la ~/.cache/Cypress || true
            - run: ls -la protocol/cargo-cache || true
            - run: ls -la protocol/target/ink || true
            - run: ls -la node_modules || true
            - run: ls -la ~/
            - run: ls -la .
