name: image_provider

on:
    push:
        branches:
            - 'main'
        paths:
            - 'dev/**'
            - 'packages/**'

env:
    CARGO_TERM_COLOR: always
    GH_TOKEN: ${{ github.token }}

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            # Checkout the repo
            - uses: actions/checkout@v3

            # Get the provider image version from the root package.json and the latest package version from npm
            - name: Get provider image version
              run: |
                  echo "PROVIDER_IMAGE_VERSION=$(cat package.json | jq -r '.version')" >> $GITHUB_ENV
                  echo "LATEST_PROVIDER_VERSION=$(npm view @prosopo/provider version)" >> $GITHUB_ENV

            - run: mkdir -p protocol/cargo-cache
            - run: mkdir -p protocol/target
            - run: mkdir -p node_modules
            - run: mkdir -p .cache/Cypress

            - name: Restore cache
              uses: actions/cache/restore@v3
              with:
                  path: |
                      protocol/cargo-cache
                      protocol/target
                      node_modules
                      .cache/Cypress
                  # note that restoring a cache in github is a pain. The trailing '-' matches any string after the '-', therefore 'abc-' would match a cache named 'abc-1234' or 'abc-5678', etc.
                  # the problem is 'abc-' will not match a cache named 'abc'! So if you're using wildcard cache name selectors like this, you need a field that changes as the suffix to become the wildcard
                  # here we're setting the key to an unused cache key so it falls back to the wildcard selector in `restore-keys`
                  key: some-unused-cache-key
                  restore-keys: |
                      project-cache-${{ runner.os }}-${{ runner.arch }}-

            # Check if the provider image version is greater than the latest version on the npm package @prosopo/provider
            # For example, if the provider image version is 0.1.7 and the latest npm version is 0.1.6, then the provider image
            # version is greater. If the provider image version is 0.1.6 and the latest npm version is 0.1.6, then the provider
            # image version is not greater, and the workflow will not continue unless the provider image version is updated in
            # the root package.json. Technically, this check doesn't cover the case where the provider image version is lower
            # than the latest npm version, but that should never happen.
            - name: Check provider image version
              id: check_provider_image_version
              run: |
                  echo "PROVIDER_IMAGE_VERSION=${{ env.PROVIDER_IMAGE_VERSION }}"
                  echo "LATEST_PROVIDER_VERSION=${{ env.LATEST_PROVIDER_VERSION }}"

                  # Condition 1: If less than or equal
                  if [[ "${{ env.PROVIDER_IMAGE_VERSION }}" == "${{ env.LATEST_PROVIDER_VERSION }}" || "${{ env.PROVIDER_IMAGE_VERSION }}" < "${{ env.LATEST_PROVIDER_VERSION }}" ]]; then
                      echo "less than or equal"
                      exit 1
                  fi

                  # Condition 2: If ends in beta
                  if [[ "${{ env.PROVIDER_IMAGE_VERSION }}" == *"-beta" ]]; then
                      echo "beta"
                      exit 1
                  fi

                  # Condition 3: If greater
                  if [[ "${{ env.PROVIDER_IMAGE_VERSION }}" > "${{ env.LATEST_PROVIDER_VERSION }}" ]]; then
                      echo "greater"
                  fi
