name: tests_protocol

on:
    pull_request:
        branches:
            - 'main'
        paths:
            - 'protocol/**'
            - '.github/workflows/tests_protocol.yml'
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

env:
    CARGO_TERM_COLOR: always
    GH_TOKEN: ${{ github.token }}
    NODE_ENV: test

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - run: mkdir -p protocol/cargo-cache
            - run: mkdir -p protocol/target
            - run: mkdir -p node_modules
            - run: mkdir -p .cache/Cypress

            - name: Restore cache
              uses: actions/cache/restore@v3
              with:
                  path: |
                      protocol/cargo-cache
                      protocol/target
                      node_modules
                      .cache/Cypress
                  # note that restoring a cache in github is a pain. The trailing '-' matches any string after the '-', therefore 'abc-' would match a cache named 'abc-1234' or 'abc-5678', etc.
                  # the problem is 'abc-' will not match a cache named 'abc'! So if you're using wildcard cache name selectors like this, you need a field that changes as the suffix to become the wildcard
                  # here we're setting the key to an unused cache key so it falls back to the wildcard selector in `restore-keys`
                  key: some-unused-cache-key
                  restore-keys: |
                      project-cache-${{ runner.os }}-${{ runner.arch }}-

            - run: npm install

            - name: Build contracts
              id: build
              run: |
                  cd protocol/dev
                  npm run cli -- build --docker --skip-env

            - name: Check typechain is up-to-date
              run: |
                  cd dev/scripts
                  npm run build
                  npm run cli -- import_all_contracts
                  # run prettier to put typechain output in correct format
                  npm run prettier:fix
                  # expect no changes so typechain is up to date with the contract
                  git diff --exit-code

            - name: Test contracts
              run: |
                  cd protocol/dev
                  RUST_BACKTRACE=1 npm run cli -- test --docker
